.root {
    -fx-background-color: #fff;
}

.mainPane {
    -fx-background-color: rgb(231, 231, 231);
}

.navy-blue {
    -fx-background-color: #1C2A39;
    -fx-position-shape: center;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.navy-blue:hover {
    -fx-background-color: rgba(28, 42, 57, 0.6);
}

.blue {
    -fx-background-color: #42aaff;
    -fx-position-shape: center;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.blue:hover {
    -fx-background-color: rgba(66, 170, 255, 0.6);
}

.orange {
    -fx-background-color: #ffa500;
    -fx-position-shape: center;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.orange:hover {
    -fx-background-color: rgba(255, 165, 0, 0.6);
}



.text-field {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}